/*Começo do cabeçalho*/
.sacola{
    background: url(../img/sacola.png)  no-repeat top right;
    
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
    padding-top: 8px;
    position: absolute;
    top: 0;
    right: 0;
   
}

.menu-opcoes ul{
    font-size: 15px;
    
}

.menu-opcoes a{
   color: #003366; 
}

body{
    color: #333333;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

.menu-opcoes ul li{
    display:inline-table;
    margin-left: 20px; 
}

.logotipo{
    position: relative;
    top: 20px;
    left: 50px;
}

header{
    position: relative;
}

.menu-opcoes{
    position: absolute;
    bottom: 0;
    right: 0;
}

.container-header{
    margin: 0 auto;
    width: 940px;
}

.busca,
.menu-departamentos{
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
    float: left;
}

.busca,
.busca form,
.menu-departamentos h2{
    margin: 10px;
}

.menu-departamentos li{
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a{
    color: #333333;
    text-decoration: none;
}

.busca input{
    vertical-align: middle;
}

.busca input[type=search]{
    width: 170px;
}

.item-menu{
    text-decoration: none;
}

.menu-departamentos{
    clear:left;
    margin-top: 10px;
    padding-bottom: 10px;
}
/*Começo do destaque novidades*/
.container-paineis{
    margin-top: 10px;
    
}

.painel-novidades{
    margin: 10px 0;
    padding: 10px;
    width: 600px;

    float: left;
}

.painel-novidades li{
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
}

.painel-novidades h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.painel-novidades a{
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none; 
} 

.painel-novidades{
    background-color:plum;
    position: relative;
}
/*Fim do destaque novidades*/

/*Começo do destaque mais vendidos*/
.painel-mais-vendidos{
    margin: 10px 0;
    padding: 10px;
    width: 600px;

    float: right;
}

.painel-mais-vendidos li{
    display:inline-block ;
    vertical-align: top;
    width: 140px;
    margin: 10px;
    padding-bottom: 10px;
}

.painel-mais-vendidos h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.painel-mais-vendidos a{
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
} 

.painel-mais-vendidos{
    background-color:aquamarine;
    position: relative;
}

/*Fim do destaque mais vendidos*/

/*Começo do roda-pé*/
footer{
    background-image: url(../img/fundo-rodape.png);
    clear: both;
    padding: 20px 0;
}

footer .container{
    position: relative;
}

.social{
    position: absolute;
    top: 12px;
    right: 0;
    
}

.social a{
    height: 32px;
    width: 32px;
    display: block;
    text-indent: -9999px;
} 

.social a[href*="facebook.com"]{
    background-image: url(../img/facebook.png);
    
}

.social a[href*="twitter.com"]{
    background-image: url(../img/twitter.png);
    
} 

.social a[href*="plus.google.com"]{
    background-image: url(../img/googleplus.png);
    
} 

.social li{
    float: left;
    margin-left: 25px;
}

/*Fim do roda-pé*/





